@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(https://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-ohoTus9C.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Regular'), local('Philosopher-Regular'), url(https://fonts.gstatic.com/s/philosopher/v9/vEFV2_5QCwIS4_Dhez5jcWBuT00.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  src: local('Philosopher Bold'), local('Philosopher-Bold'), url(https://fonts.gstatic.com/s/philosopher/v9/vEFI2_5QCwIS4_Dhez5jcWjValgb8tc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-size: 16px;
    font-family: 'Oswald', 'Helvetica', sans-serif;
    background-color: rgba(220,221,222,0.2);
/*    box-sizing: border-box;*/
    color: #6D6F71;
}

a {
    text-decoration: none;
    color: black;
}

.site-buttons {
    margin: 1.5rem;
    color: inherit;
    border: 2px solid #333;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    transition: all 200ms ease-out;
}

.site-buttons:hover {
    border: 2px solid rgb(255,223,0);
    background-color: rgb(197,179,88);
    color: rgb(255,223,0);
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: #fff;
}

.navbar-main {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    box-shadow: 0 0 5px black;
}

.navbar a {
    color: black;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
}

.navlink {
/*    padding: 1rem;*/
    padding: 1rem 0;
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
    position: relative;
}

.navlink-link {
    display: none;
}

.navlink:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.navlink:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.navlink-res {
/*    background-color: rgb(212,175,55);*/
/*    padding: 1.55rem 2rem;*/
/*    margin: 0;*/
}

.res-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(212,175,55);
}

.logo {
    padding: 1rem;
    font-size: 1.3rem;
    font-family: 'Philosopher';
    font-weight: 700;
}

.navlink-icon {
    font-size: 1.5rem;
    opacity: 1;
/*
    position: relative;
    right: 3.8rem;
*/
}

.hide-navlink-icon {
    opacity: 0;
    transition: all 0.1s ease-out 0.1s;
}

/* MOBILE NAVBAR */

.mobile-nav-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(220,221,222);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-out 0.3s;
}

.display-mobile-nav {
    opacity: 0.8;
    transition: all ease-out 0.5s;
}

.no-display {
    display: none;
}

.mobile-nav ul li {
    padding: 1rem;
    text-align: center;
}

.mobile-navlink {
    font-size: 2rem;
}

.close-mobile-nav {
    position: fixed;
    top: 1rem;
}

@media screen and (min-width: 909px) {
    .navlink-icon {
        display: none;
    }
    
    .navlink-link {
        display: flex;
    }
}

/* WELCOME SLIDES */

.welcome-slides-slideshow {
    width: 100%;
    position: relative;
    margin: auto;
/*    height: 90vh;*/
/*    margin-top: 4rem;*/
}

.welcome-slides {
    display: none;
    height: 100%;
    overflow: hidden;
}

.slides-img {
    width: 100%;
}

/*
.welcome-slide1 {
    background-image: url(../images/lobby_landscape.jpg);
    background-position: top center;
    background-size: cover;
}
*/

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slide-text {
/*    color: #f2f2f2;*/
/*    font-size: 15px;*/
/*    padding: 8px 12px;*/
    position: absolute;
    top: 50%;
/*    left: 25%;*/
    width: 100%;
    text-align: center;
}

.slide-text .h2-headings {
    color: rgb(212,175,55);
/*    margin-left: 1.5rem;*/
    padding: 0;
    font-size: 1rem;
}

.slide-text .culture-headings {
    margin-top: 2rem;
    color: white;
    font-size: 2rem;
    margin-left: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media screen and (min-width: 909px) {
    .slide-text .h2-headings {
        font-size: 2rem;
    }
    
    .slide-text .culture-headings {
        font-size: 4rem;
    }
}

@media screen and (min-width: 1063px) {
    .welcome-slides-slideshow {
        height: 95vh;
    }
}

/* ROOMS */

.container {
    margin: 2.5rem;
    margin-bottom: 4rem;
}

.h2-headings {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.inner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.side-nav {
    padding-bottom: 1rem;
}

.side-nav ul li {
    padding: 0 0.3rem 2rem 0rem;
    font-size: 1.2rem;
    display: inline;
}

.side-link {
    color: rgba(109, 111, 113, 0.5);
}

.side-link:hover {
    color: rgba(109, 111, 113, 1);
}

.clicked-color {
    color: rgba(109, 111, 113, 1);
}

@media screen and (min-width: 421px) {
    .side-nav ul li {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 450px) {
    .side-nav ul li {
        padding: 0 0.8rem 2rem 0;
    }
}

@media screen and (min-width: 628px) {
    .side-nav ul li {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 779px) {
    .side-nav ul li {
        font-size: 3.3rem;
    }
}

@media screen and (min-width: 992px) {
    .side-nav ul li {
        display: block;
    }
    
    .side-nav {
        width: 40%;
    }
    
    .inner-container {
        flex-direction: row;
    }
    
    .rooms-slideshow-container {
        width: 60%;
    }
}

@media screen and (min-width: 1146px) {
    .side-nav ul li {
        font-size: 4rem;
    }
}

/* ROOMS SLIDESHOW */

.rooms-slideshow-container {
    width: 100%;
}

.room-slides {
    position: relative;
    margin: auto;
    display: none;
}

.prev-next {
    top: 50%;
}

.standard-room-slides, .junior-suite-slides, .presidential-suite-slides {
    display: none;
}

.side-slide-text {
    text-align: left;
    top: 0;
}

.side-slide-text .h2-headings, .side-slide-text .culture-headings {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

/* DINING */

.dining {
    margin: 0rem;
    margin-bottom: 4rem;
}

.dining div {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dining .h2-headings {
    margin-left: 2.5rem;
}

.dining .inner-container {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 35rem;
    width: 100%;
}

.img-container {
/*    width: 50%;*/
    margin: 0 0.75rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lounge-yamama-shebstan {
    width: 100%;
    display: flex;
}

.lounge {
    width: 50%;
    margin-left: 1.5rem;
    height: 16.75rem;
    background-image: url(../images/lobby.JPG);
/*    box-sizing: border-box;*/
}

.yamama {
    background-image: url(../images/restaurant.JPG);
    margin: 0 1.5rem 1.5rem 0.75rem;
}

.shebstan {
    background-image: url(../images/shebstan.JPG);
    margin: 0rem 1.5rem 0 0.75rem;
}

.yamama, .shebstan, .garden, .fresh {
    height: 7.6rem;
}

.yamama-shebstan {
    width: 50%;
    height: 16.75rem;
    margin-right: 2.2rem;
}

.yamama-shebstan .img-container {
    width: 100%;
}

.garden {
    background-image: url(../images/garden.JPG);
    margin: 0.75rem 0.75rem 1.5rem 1.5rem;
    width: 50%;
}

.fresh {
    background-image: url(../images/garden_tent.JPG);
    margin: 0.75rem 1.5rem 1.5rem 0.75rem;
    width: 50%;
}

.garden-fresh-dewaniya {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 16.75rem;
}

/*
.garden-fresh-dewaniya .img-container {
    width: 40%;
}
*/

.garden-fresh {
    width: 100%;
    display: flex;
}

.dewaniya-cont {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: flex;
/*    margin: 0 1.5rem;*/
}

.dewaniya {
    width: 100%;
    background-image: url(../images/Al-Dewaniya-BIG.gif);
    margin: 0 1.5rem 0 1.5rem;
    height: 7.6rem;
}

.rest-name {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.6);
    opacity: 0;
    transition: all 300ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rest-name:hover {
    opacity: 1;
}

.rest-name .h2-headings {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2rem;
}

@media screen and (min-width: 370px) {
    .lounge {
        height: 20rem;
    }
    
    .yamama-shebstan {
        height: 20rem;
    }
    
    .garden-fresh-dewaniya {
        height: 20rem;
    }
    
    .yamama, .shebstan, .garden, .fresh {
        height: 9.2rem;
    }
    
    .dewaniya {
        height: 9.2rem;
        margin-top: 1.5rem;
    }
    
    .garden, .fresh {
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 531px) {
    .lounge {
        height: 25rem;
    }
    
    .yamama-shebstan {
        height: 25rem;
    }
    
    .garden-fresh-dewaniya {
        height: 25rem;
    }
    
    .yamama, .shebstan, .garden, .fresh {
        height: 11.8rem;
    }
    
    .dewaniya {
        height: 11.8rem;
/*        margin-top: 1.5rem;*/
    }
    
    .garden, .fresh {
/*        margin-top: 1.5rem;*/
    }
}

@media screen and (min-width: 641px) {
    .lounge {
        height: 30rem;
    }
    
    .yamama-shebstan {
        height: 30rem;
    }
    
    .garden-fresh-dewaniya {
        height: 30rem;
    }
    
    .yamama, .shebstan, .garden, .fresh {
        height: 14.3rem;
    }
    
    .dewaniya {
        height: 14.3rem;
/*        margin-top: 1.5rem;*/
    }
    
    .garden, .fresh {
/*        margin-top: 1.5rem;*/
    }
}

@media screen and (min-width: 751px) {
    .lounge {
        height: 35rem;
    }
    
    .yamama-shebstan {
        height: 35rem;
    }
    
    .garden-fresh-dewaniya {
        height: 35rem;
    }
    
    .yamama, .shebstan, .garden, .fresh {
        height: 16.75rem;
    }
    
    .dewaniya {
        height: 16.75rem;
    }
    
    .garden, .fresh {
    }
}

@media screen and (min-width: 921px) {
    .lounge-yamama-shebstan, .garden-fresh-dewaniya {
        width: 50%;
    }
    
    .garden, .fresh, .dewaniya {
        margin-top: 0;
    }
    
    .yamama-shebstan {
        margin-right: 0.75rem;
    }
}

/* EVENTS --- FOR ANY OCCASION */
.business-slides, .private-dining-slides, .wedding-slides {
    display: none;
}

.occasions {
    text-shadow: 0 0 10px black;
}

/* CULTURE */

.culture {
    margin: 0 0 2rem 0;
    min-height: 20rem;
    color: #333;
}

.culture .inner-container {
    margin-bottom: 2rem;
}

.culture .h2-headings {
    margin-left: 2.5rem;
}

.culture .rooms-slideshow-container {
    margin: 0 1.5rem;
    background-color: rgb(212,175,55);
    width: 100%;
    position: relative;
}

.culture-slides {
    display: none;
}

.h2-headings.cul {
    margin: 3rem 0 0 1.5rem;
    padding: 0;
}

.culture-headings {
    font-size: 3rem;
    margin: 3rem 0 3rem 1.5rem;
}

.culture-slides-cont {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.culture-img {
    width: 100%;
    margin-top: 2.5rem;
    height: 80%;
    background-size: cover;
/*    background-position: center;*/
    background-repeat: no-repeat;
/*    display: flex;*/
}

.shrine {
    background-image: url(../images/zeinab_shrine.JPG);
}

.museum {
    background-image: url(../images/october_war_museum.jpg);
}

.ancient-city {
    background-image: url(../images/ancient_damascus.jpg);
    background-position: bottom center;
}

.midnights {
    background-image: url(../images/busy_nights1.jpg);
    background-position: bottom center;
}

.yamama-buffet {
    background-image: url(../images/fruit_buffet.JPG);
}

.the-garden {
    background-image: url(../images/orange-juice-410325_1920.jpg);
}

@media screen and (min-width: 992px) {
    .culture-slides-cont {
        flex-direction: row;
    }
    
    .culture-img {
        margin-top: 0;
        height: 95%;
    }
}

/* FOOTER */

footer {
    background-color: rgba(220,221,222,1);
    width: 100%;
}

footer .container {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

footer address {
    padding: 1rem 0;
}

span {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

span strong {
    font-weight: 700;
}

/*

    COMMON TO ALL SUB-SECTIONS OF WEBSITE

*/

.page-cover-image {
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-cover-image .h2-headings {
    color: rgb(212,175,55);
/*    margin-left: 1.5rem;*/
    padding: 0;
    font-size: 1rem;
}

.page-cover-image .culture-headings {
    margin-top: 2rem;
    color: white;
    font-size: 2rem;
    margin-left: 0;
}

@media screen and (min-width: 909px) {
    .page-cover-image .h2-headings {
        font-size: 2rem;
    }
    
    .page-cover-image .culture-headings {
        font-size: 4rem;
    }
}

/*

    THE HOTEL - SITE

*/

.hotel-facade {
    background-image: url(../images/hotel_front_day_edit.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 45rem;
}

.about {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.hotel-info {
    margin: 0.5rem;
    width: 100%;
}

.hotel-info p {
    margin: 1rem 0;
}

@media screen and (min-width: 909px) {
    .about {
        flex-direction: row;
    }
    
    .hotel-info {
        width: 50%;
    }
}
